<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="~/Pages/RedactorPages/AddUser.cshtml">Add user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/RedactorPages/AddAward.cshtml">Add award</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/RedactorPages/DeleteUser.cshtml">Delete user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/RedactorPages/DeleteAward.cshtml">Delete award</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/RedactorPages/AddAwardToUser.cshtml">Add award to user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Pages/RedactorPages/DeleteAwardFromUser.cshtml">Delete award from user</a>
        </li>
    </ul>
</body>
</html>